<div class="panel">
	<div class="panel-heading">Lista otwartych rachunków</div>
	<div class="panel-body">
		<div ng-if="errors">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<div class="account" ng-repeat="account in account_list">
			<h3>{{account.name}}&nbsp;<small class="fg-secondary">{{account.type}}</small></h3>
			<div class="text-right">
				<div class="account-col col-30">
					<h4>Saldo bieżące</h4>
					<p class="fg-primary h2">{{account.balance | number:2}}</p>
				</div>
				<div class="account-col col-30">
					<h4>Dostępna kwota</h4>
					<p class="fg-primary h2">{{account.amount | number:2}}</p>
				</div>
				<div class="account-col col-30">
					<h4>Środki zablokowane</h4>
					<p class="fg-primary h2">{{account.deposit | number:2}}</p>
				</div>
			</div>
			<ul class="vertical text-right bg-secondary-lt" id="account_links">
				<li><a href="/transfers/">Historia</a></li>
				<li><a href="/notfound/">Karty</a></li>
				<li><a href="/transfers/new/{{account.id}}">Nowy przelew</a></li>
			</ul>
		</div>
	</div>
</div>
