<div class="panel">
	<div class="panel-heading">Lista otwartych rachunków</div>
	<div class="panel-body">
		<div ng-if="errors">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<div class="account" ng-repeat="account in account_list">
			<h2>{{account.name}}&nbsp;<small class="fg-secondary">{{account.type}}</small></h2>
			<div class="text-right">
				<div class="account-col">
					<h3>Saldo bieżące</h3>
					<h1 class="fg-primary">{{account.balance | number:2}}</h1>
				</div>
				<div class="account-col">
					<h3>Dostępna kwota</h3>
					<h1 class="fg-primary">{{account.amount | number:2}}</h1>
				</div>
				<div class="account-col">
					<h3>Środki zablokowane</h3>
					<h1 class="fg-primary">{{account.deposit | number:2}}</h1>
				</div>
			</div>
			<a href="#" ng-click="vm.make_transfer(account, 50.01);">Przelej 50.01zł w kosmos</a>
			<ul class="vertical pull-right" id="account_links">
				<li><a href="/notfound/">Historia</a></li>
				<li><a href="/notfound/">Karty</a></li>
				<li><a href="/notfound/">Nowy przelew</a></li>
			</ul>
		</div>
	</div>
</div>
