<nav class="navbar">
	<h1>SimpleBank</h1>
	<div class="menu">
		<ul class="vertical">
			<li><a href="/">Konta osobiste</a></li>
			<li><a href="/">Karty płatnicze</a></li>
			<li><a href="/">Kredyty i pożyczki</a></li>
			<li><a href="/">Produkty oszczędnościowe</a></li>
			<li><a href="/">Inwestycje</a></li>
		</ul>
		<a class="btn-primary pull-right">Logowanie</a>
	</div>
	<div class="menu">
		<ul class="vertical">
			<li><a href="/">Twoje konta</a></li>
			<li><a href="/">Przelewy</a></li>
			<li><a href="/">Karty</a></li>
			<li><a href="/">Oszczędności</a></li>
			<li><a href="/">Kredyty</a></li>
			<li><a href="/">Inwestycje</a></li>
			<li><a href="/">Ubezpieczenia</a></li>
			<li><a href="/">Pomoc</a></li>
		</ul>
		<a class="btn-primary pull-right">Wyloguj</a>
	</div>
</nav>