<nav class="navbar">
	<h1><a href="/#!/">SimpleBank</a></h1>
	<div class="menu" ng-if="!authenticated">
		<ul class="vertical">
			<li><a href="/#!/notfound/">Konta osobiste</a></li>
			<li><a href="/#!/notfound/">Karty płatnicze</a></li>
			<li><a href="/#!/notfound/">Kredyty i pożyczki</a></li>
			<li><a href="/#!/notfound/">Produkty oszczędnościowe</a></li>
			<li><a href="/#!/notfound/">Inwestycje</a></li>
		</ul>
		<a href="/#!/login/" class="btn-primary pull-right">Logowanie</a>
	</div>
	<div class="menu" ng-if="authenticated">
		<ul class="vertical">
			<li><a href="/#!/accounts/">Twoje konta</a></li>
			<li><a href="/#!/transfers/">Przelewy</a></li>
			<li><a href="/#!/notfound/">Karty</a></li>
			<li><a href="/#!/notfound/">Oszczędności</a></li>
			<li><a href="/#!/notfound/">Kredyty</a></li>
			<li><a href="/#!/notfound/">Inwestycje</a></li>
			<li><a href="/#!/notfound/">Ubezpieczenia</a></li>
			<li><a href="/">Pomoc</a></li>
		</ul>
		<a class="btn-primary pull-right" href="/#!/logout/">Wyloguj</a>
	</div>
</nav>