<div class="panel">
	<div class="panel-heading">Nowy przelew</div>
	<div class="panel-body">
		<div ng-if="errors">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<form id="transfer_form">
				<div class="input-group">
					<label for="account_select">Numer rachunku nadawcy:</label>
					<select id="account_select">
						<option>Konto</option>
					</select>
				</div>
				<div class="input-group">
					<label for="account_input">Numer rachunku odbiorcy:</label>
					<input type="text" id="account_input" placeholder="">
				</div>
				<div class="input-group">
					<label for="name_input">Nazwa / Imię i nazwisko odbiorcy:</label>
					<input type="text" id="name_input" placeholder="">
				</div>
				<div class="input-group">
					<label for="address_checkbox">Adres odbiorcy (opcjonalnie)</label>
					<input type="checkbox" id="checkbox">
				</div>
				<div class="input-group">
					<label for="address_input">Adres odbiorcy</label>
					<input type="text" id="address_input">
				</div>
				<div class="input-group">
					<label for="add_contact_checkbox">Dodaj do listy kontaktów</label>
					<input type="checkbox" id="add_contact_checkbox">
				</div>
				<div class="input-group">
					<label for="title_input">Tytuł przelewu:</label>
					<input type="text" id="title_input" placeholder="">
				</div>
				<div class="input-group">
					<label for="available_textarea">Dostępna kwota:</label>
					<textarea id="available_textarea"></textarea>
				</div>
				<div class="input-group">
					<label for="amount_input">Kwota przelewu:</label>
					<input type="text" id="amount_input" placeholder="">
				</div>
				<input type="submit" value="Wyślij" class="btn-primary">
		</form>
	</div>
	</div>
</div>
