<div class="panel">
	<div class="panel-heading">Nowy przelew</div>
	<div class="panel-body">
		<div ng-if="errors">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<form id="transfer_form" ng-submit="vm.make_transfer(transfer);" class="col-60 validate" novalidate>
			<div class="input-group">
				<label for="account_select">Numer rachunku nadawcy:</label>
				<select id="account_select" ng-model="transfer.from" required
					ng-options="account.id as account.name for account in account_list">
				</select>
			</div>
			<div class="input-group">
				<label for="account_input">Numer rachunku odbiorcy:</label>
				<input type="text" pattern="[0-9]{26}" id="account_input" placeholder="" required ng-model="transfer.recipent.account">
			</div>
			<div class="input-group">
				<label for="name_input">Nazwa / Imię i nazwisko odbiorcy:</label>
				<input type="text" id="name_input" placeholder="" required ng-model="transfer.recipent.name">
			</div>
			<div class="input-group">
				<input type="checkbox" id="checkbox" ng-model="show_address">
				<label for="address_checkbox">Adres odbiorcy (opcjonalnie)</label>
			</div>
			<div class="input-group" ng-show="show_address">
				<label for="address_input">Adres odbiorcy</label>
				<input type="text" id="address_input">
			</div>
			<div class="input-group">
				<input type="checkbox" id="add_contact_checkbox">
				<label for="add_contact_checkbox">Dodaj do listy kontaktów</label>
			</div>
			<div class="input-group">
				<label for="title_input">Tytuł przelewu:</label>
				<input type="text" id="title_input" placeholder="" required ng-model="transfer.title">
			</div>
			<div class="input-group">
				Dostępna kwota: {{(account_list|get_selected_account:transfer.from).amount}}
			</div>
			<div class="input-group">
				<label for="amount_input">Kwota przelewu:</label>
				<input type="number" max="{{(account_list|get_selected_account:transfer.from).amount}}" min="1"
				id="amount_input" placeholder="" pattern="[0-9]+([\.,][0-9]{0,2})?" required ng-model="transfer.amount">
			</div>
			<input type="submit" value="Wyślij" class="btn-primary">
		</form>
	</div>
	</div>
</div>
