<div class="hero bg-secondary-lt fg-secondary-dk">
    <h1 class="fg-primary">Otwieramy możliwości</h1>
    <hr>
    <p>
        Witaj na stronie banku, który jako pierwszy w Polsce otwiera możliwości.
        Wysokiej jakości rozwiązania, najnowsze technologie, płatności telefonem i zegarkiem - tylko u nas!
    </p>
    <p>
        Poniższy projekt jest realizacją projektu wykonanego w ramach przedmiotu Ergonomia Systemów Informacyjnych,
        odbywającego się na Politechnice Wrocławskiej. Jego głównym zadaniem jest przedstawienie schludnego,
        prostego i ergonomicznego designu strony.
    </p>
    <p>
        Implementacja obejmuje: mechanizm logowania, podgląd konta użytkownika,
        dokonywanie przelewu oraz historię transferów. Wszystkie dane są przechowywane
        na bieżąco w pamięci przeglądarki.
    </p>
    <p class="text-italic">
        Przedstawione rozwiązanie nie było tworzone z myślą o urządzeniach mobilnych.
    </p>
</div>
