.bg-primary {
    background: #e91e63 !important;
}

.bg-primary-lt {
    background: #f8bbd0 !important;
}

.bg-primary-dk {
    background: #c2185b !important;
}

.bg-secondary {
    background: #455a64 !important;
}

.bg-secondary-lt {
    background: #cfd8dc !important;
}

.bg-secondary-dk {
    background: #37474f !important;
}

.fg-primary, input {
    color: #e91e63 !important;
}

.fg-primary-lt {
    color: #f8bbd0 !important;
}

.fg-primary-dk {
    color: #c2185b !important;
}

.fg-secondary {
    color: #455a64 !important;
}

.fg-secondary-lt {
    color: #cfd8dc !important;
}

.fg-secondary-dk {
    color: #37474f !important;
}
