@import "colors.css";
@import "typography.css";
@import "grid.css";
@import "forms.css";

body {
	background: #f5f5f5;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
}

main {
    width: 1170px;
    border: 1px solid #cfd8dc;
    margin: 0 auto;
    background: white;
    position: relative;
    padding-bottom: 150px;
    min-height: 650px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

.hero {
    display: block;
    margin: 25px;
    padding: 48px 60px;
    border-radius: 15px;
}

a, input {
	text-decoration: none;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
}

.menu {
	border-style: solid none;
	border-width: 1px;
	border-color: #cfd8dc;
	margin: 5px 0;
}

.btn-primary {
	background: #c2185b;
	color: white !important;
	padding: 10px 25px;
	margin: 0 15px;
	border: 0;
}


ul.vertical li {
	display: inline-block;
}

nav.navbar div ul li a {
	color: #e91e63;
}

nav.navbar div ul {
	display: inline-block;
	padding: 10px 15px;
}

nav.navbar .pull-right {
    margin-right: 25px;
}

.pull-right {
	float: right;
}

.panel {
	margin: 25px;
}

.panel-heading {
	background: #c2185b;
	color: white;
	padding: 10px 25px;
}

.panel-body {
	background: #f5f5f5;
	padding: 10px 25px;
}

.account-col {
	display: inline-block;
}

.account {
	margin: 10px 0 30px;
}

#account_links {
    margin: 10px -25px;
    padding: 15px;
    border-bottom: 1px solid #455a64;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px rgba(207, 216, 220, 0.5) inset;
}

.with-padding {
	padding: 10px 15px;
}

.block-center {
	margin: 0 auto;
}

.scrollable {
	overflow-y: scroll;
}
